@charset "utf-8";
////////////////////////////////////////////////////
//sass template
////////////////////////////////////////////////////
/* single-works.php ----------*/

@import "function.scss";

// @mixin LAYOUT-WORKS{
body{
    background-color: #2e3133;
    ul.works_list{
        display: flex ;
        justify-content: center ;
        flex-wrap: wrap ;
        width: 100% ;
        margin: 0 auto ;
        color: $black;
        li{
            margin: 0 20px 20px 0 ;
            background: rgba(241,241,241,.6) ;
            color: $black ;
            text-align: center ;
            transition: .3s ;
            width: 25vw;
            max-width: 375px ;
            .img_wrap{
                overflow: hidden ;
            }
            h3{
                padding: 15px ;
            }
            a{
                transition: .3s ;
            }
        }
    }
    section#title_works{
        background-image: url(../images/works/bg_works_top.jpg) ;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
        .inner{
            width: 100% ;
            min-height: 26vw ;
            display: flex ;
            justify-content: center;
            align-items: center;
        }
        h2.site_logo{
            text-align: center ;
            max-width: 100px ;
            width: 9% ;
            margin: 0 auto;
            // @include absolute(10px,10px,10px,10px)
        }
    }
    section#contents{
        color: $black ;
        margin: -50px 0 0 0 ;
        .inner{
            width: 80vw ;
            max-width: 1300px ;
            margin: 0 auto ;
        }
        ul.works_detail{
            font-size: 0 ;
            width: 80vw;
            max-width: 1300px ;
            margin: 0 auto 2vw auto;
            text-align: center;
            display: flex ;
            li{
                // max-width: 500px ;
                @include font-size-md ;
                vertical-align: top ;
                &.works_main_img{
                    width: 50% ;
                    background: rgba(241,241,241,0.6) ;
                }
                &.works_info{
                    background: rgba(241,241,241,0.6) ;
                    display: inline-block ;
                    padding: 30px ;
                    width: 50% ;
                    .date{
                        margin: 0 0 5px ;
                    }
                    h1{
                        @include font-size(30);
                        margin: 0 0 30px ;
                        line-height: 1.1;
                    }
                }
                dl{
                    dt{
                        @include font-size(23);
                        text-align: left;
                        font-weight: 350;
                        margin: 0 0 10px;
                        padding: 0 10px 8px;
                        border-bottom: 1px solid $black;
                    }
                    dd{
                        display: block;
                        text-align: left;
                        margin: 0 0 20px;
                        padding: 0 10px 0px;
                        ul.works_charge{
                            font-size: 0 ;
                            display: flex ;
                            flex-wrap: wrap;
                            li{
                                width: auto ;
                                background: $black ;
                                @include font-size-xs( 12 );
                                padding: 5px 15px;
                                border-radius: 20px;
                                margin: 5px;
                                color: #fff;
                            }
                        }
                        ul.works_skill{
                            font-size: 0 ;
                            display: flex ;
                            flex-wrap: wrap;
                            li{
                                width: auto ;
                                background: $black ;
                                @include font-size-xs( 12 );
                                padding: 5px 15px;
                                border-radius: 20px;
                                margin: 5px;
                                color: #fff;
                            }
                        }
                        ul.works_message{
                            text-align: left ;
                        }
                        &.site_url{
                            a{
                                text-decoration: none ;
                                color: $white ;
                                background: $link-color ;
                                padding: 8px 16px ;
                                border-radius: 30px ;
                                display: inline-block;
                                &:hover{
                                    background: #000;
                                    transition-duration: 1s  ;
                                }
                            } 
                        }
                    }
                }
            }
        }
// サブページ集
        ul.works_photos{
            font-size: 0 ;
            text-align: center ;
            width: 100% ;
            display: flex ;
            flex-wrap: wrap;
            justify-content: center;
            @include font-size( 18 );
            gap:2vw;
            li{
                 width: 25vw;
                // flex-grow: 1;
                // max-width: 33.3333vw ;
                // position: relative ;
                // &:nth-child(3n),&:last-child{
                //     margin: 0 0 0 0 ;
                // }
                .img_wrap{
                    overflow: hidden ;
                }
                h3{
                    background: $bg-w ;
                    padding: 10px 0 ;
                }
                a{
                    color: #fff ;
                }
                .box_inner{
                    overflow: hidden ;
                }
            }
        }
    }
}
@include magnific-popup();