# ─────────────────────────────
# WordPress プロジェクト全体を除外
# テーマ（NowOne）のみを Git 管理
# ─────────────────────────────

# まず全部除外
/*

# macOS ゴミは絶対に除外
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride
# 必要なものだけ許可
!.gitignore
!.vscode/
!/.github/

!/acf-json/
!/css/
!/font/
!/assets/
!/inc/
!/template-parts/

# PHP テンプレート
!/*.php

# テーマ主要ファイル
!/style.css
!/README.md
!/LICENSE
!/screenshot.png