# ─────────────────────────────
# WordPress プロジェクト全体を除外して、
# このテーマ（NowOne）だけを Git 管理する設定
# ─────────────────────────────

# まず一度すべて除外
/*
/.DS_Store
# 除外した中からテーマに必要なものだけ許可する
!.gitignore
!.vscode/
!/acf-json/
!/css/
!/font/
!/assets/
!/inc/
!/.github/
!/template-parts/

# PHP テンプレート類
!/*.php

# テーマの主要ファイル
!/style.css
!/README.md
!/LICENSE
!/screenshot.png
