@charset "utf-8";
//=======================================
//
//	font-color config
//
//=======================================
//color設定//
$black:#2e3133;
$black-l:#4A4A4A;
$white:#D9D9D9;
$text:#D9D9D9;

$Red: #ce3955 ;
$Yellow:#d8ab54;
$Blue:#26b7bc;
$Works-title: #000 ;
$link-color: #26b7bc ;



//ブレイクポイント設定