/* =============================
    Layout: Footer Area
    フッターエリア用スタイル
    ※設定事項
			• l- は space scale を組み合わせるだけ
			• c- は font / line-height / space を選ぶだけ
			• p- は 例外を書く場所
		※禁止事項
				色
				フォント
				カードの並び
				ボタンサイズ
============================= */
@use '../foundation/design-tokens' as dt;

.l-global-nav {
		height: 100dvh;
		z-index: var(--z-header);
		@media (max-width: dt.$bp-md){
			position: fixed;
			top: 0;
			right: 0;
			padding: var(--space-md) ;
			background-color: rgba(46,49,51,0.8);
		}
}
