/* =============================
   Component: heading
============================= */

.c-heading {
  margin: 0;
  font-weight: 600;
  line-height: var(--lh-tight);
}

.c-heading--xl {
  font-size: var(--font-xl); //20px
}

.c-heading--lg {
  font-size: var(--font-lg); //18px
}

.c-heading--md {
  font-size: var(--font-md); // 16px
}

.c-heading--sm {
  font-size: var(--font-sm);
}
//装飾用
.c-heading--border {
  padding-bottom: var(--space-xs);
  border-bottom: 1px solid currentColor;
}

.c-heading--center {
  text-align: center;
}