name: Deploy WordPress Theme to Core-X

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Upload theme via scp
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}

          # ▶ これが重要！
          source: "wp-content/themes/nowone/*"
          target: "/home/nowonestudio/domains/nowone.jp/public_html/wp-content/themes/nowone/"

          rm: true
          overwrite: true
          strip_components: 3

          debug: true